:root {
    --main-body: white;
    --secondary-body: rgb(4, 13, 25, 0.3);
    --header-color: #eaeefb;
    --weather-color: rgb(17, 23, 32, 0.85);
    --characteristic-window-color: #242830;
    --text-main-color: #ffffff;
    --text-second-color: #878787;
    --input-field: #34333c;
}