.characteristicWindow-container {
    flex: 1 1 calc(50% - 7.5px); 
    min-width: 0; 
    max-width: calc(50% - 7.5px); 
    height: 150px;
    border-radius: 25px;
    background-color: var(--characteristic-window-color);
    color: var(--text-second-color);
    font-size: 24px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 25px;
    gap: 10px;
    box-sizing: border-box;
}

.characteristicWindow-parametr {
    width: 100%;
    height: 30%;
    display: flex;
}

.characteristicWindow-parametr p {
    margin: 0px;
}

.characteristicWindow-meaning {
    width: 100%;
    height: 100%;
}

.characteristicWindow-container span {
    margin-top: 0px;
    color: var(--text-main-color);
    font-size: 48px;
}